<ul class="post-list">
  <% page.posts.each(function(post, index) { %>
  <li class="post-list-item">
    <a
      class="post-list-link"
      title="<%- post.title %>"
      href="<%- config.root %><%- post.path %>"
    >
      <img
        class="post-cover"
        src="<%- post.cover %>"
        alt="cover"
        decoding="async"
        loading="lazy"
      />
      <div class="post-content">
        <h3 class="post-title"><%- post.title %></h3>
        <sub class="post-excerpt"><%- post.excerpt %></sub>
        <span class="post-date">
          <time datetime="<%- post.date.format(config.date_format) %>"
            ><%- post.date.format(config.date_format)%></time
          >
        </span>
        <!-- <div class="post-tags">
              <% post.tags.forEach((tag) => { %>
              <span class="post-tag" title="<%- tag.name %>"><%- tag.name %></span>
              <% }) %>
            </div> -->
      </div>
    </a>
  </li>
  <% }) %>
</ul>
