<!DOCTYPE html>
<html lang="<%- config.language %>">
<%- partial('_partial/head') %>

<body>
  <%- partial('_partial/header', null, {cache: false}) %>

  <main class="main wrapper"><%- body %></main>

  <%- partial('_partial/footer', null, {cache: false}) %>
</body>

</html>
