<!DOCTYPE html>
<html lang="<%- config.language %>">
  <%- partial('_partial/head') %>
  <body>
    <main class=""><%- body %></main>
    <%- partial('_partial/footer', null, {cache: false}) %> <%-
    partial('_partial/script', null, {cache: false}) %>
  </body>
</html>
