<article class="prose prose-xl mx-auto">
  <section class="pt-24">
    <% if (page.cover) { %>
    <img src="<%- page.cover %>" alt="cover" />
    <% } %>

    <h1 class="text-3xl"><%- page.title %></h1>

    <span>
      <%= __('post.updateTime') %>&#58;&nbsp;<time
        class="post-time"
        datetime="<%= page.updated.format(config.date_format) %>"
        ><%= page.updated.format(config.date_format) %></time
      >
    </span>
    <span class="px-6"
      ><%= __('post.readingTime') %>&#58;&nbsp;<%- min2read(page.more) %>
      min</span
    >
  </section>

  <section class=""><%- page.more %></section>

  <section class="flex justify-between mt-24 mb-24">
    <% if (page.prev) { %>
    <a
      class=""
      href="<%- config.root %><%- page.prev.path %>"
      title="<%- page.prev.title %>"
    >
      &larr;&nbsp;<%- page.prev.title %>
    </a>
    <% } else { %>
    <span class="text-gray">&larr; <%- __('post.notMore') %></span>
    <% } %> <% if (page.next){ %>
    <a
      class=""
      href="<%- config.root %><%- page.next.path %>"
      title="<%- page.next.title %>"
    >
      <%- page.next.title %>&nbsp;&rarr;
    </a>
    <% } else { %>
    <span class="text-gray"><%= __('post.notMore') %>&nbsp;&rarr;</span>
    <% } %>
  </section>

  <section class="comment" id="utteranc"></section>
</article>
