<article class="container article">
    <% if (page.cover) { %>
      <div class="article-cover">
        <img decoding="async" loading="lazy" src="<%- page.cover %>" alt="cover" />
      </div>
    <% } %>

    <h1 class="article-title"><%- page.title %></h1>
 
    <p class="article-meta">
      <span class="article-meta-item">
        <%= __('post.updateTime') %>&#58;&nbsp;<time
          class="post-time"
          datetime="<%= page.updated.format(config.date_format) %>"
          ><%= page.updated.format(config.date_format) %></time
        >
      </span>
      <span class="article-meta-item"
        ><%= __('post.readingTime') %>&#58;&nbsp;<%- min2read(page.more) %>
        min</span
      >

    </p>
  </section>

  <section class=""><%- page.more %></section>

  <a
  class="license-link"
  rel="license"
  href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.zh-Hans"
>
  <img
    class="license-img"
    alt="知识共享许可协议"
    src="https://img.shields.io/badge/license-BY--NC--SA%204.0-green"
  />
</a>

  <section class="article-more">
    <% if (page.prev) { %>
    <a
      class=""
      href="<%- config.root %><%- page.prev.path %>"
      title="<%- page.prev.title %>"
    >
      &larr;&nbsp;<%- page.prev.title %>
    </a>
    <% } else { %>
    <span class="">&larr; <%- __('post.notMore') %></span>
    <% } %> <% if (page.next){ %>
    <a
      class=""
      href="<%- config.root %><%- page.next.path %>"
      title="<%- page.next.title %>"
    >
      <%- page.next.title %>&nbsp;&rarr;
    </a>
    <% } else { %>
    <span class=""><%= __('post.notMore') %>&nbsp;&rarr;</span>
    <% } %>
  </section>
</article>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 横向广告 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1196485898698315"
     data-ad-slot="3947988604"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>