<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <meta name="renderer" content="webkit|ie-comp|ie-stand" />
  <meta name="referrer" content="no-referrer" />
  <meta name="theme-color" content="#333333" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="google" content="notranslate" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="keyword" content="<%= config.keywords %>" />
  <meta name="description" content="<%= config.description %>" />
  <title><%= config.seo_title %></title>
  <base href="/" />
  <link rel="preconnect" href="//cdn.jsdelivr.net" />
  <link rel="shortcut icon" href="<%= config.root %>icons/icon-72x72.png" />
  <link
    rel="apple-touch-icon"
    href="<%= config.root %>icons/icon-192x192.png"
  />
  <link
    rel="stylesheet"
    href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.2/build/styles/atom-one-light.min.css"
  />
  <%- css(['index.css']) %>
</head>
